@model Matricula.Models.Aluno_Materia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aluno_Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            nome do aluno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Pessoa.nome)
        </dd>

        <dt>
            nome da matéria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_aluno_materia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
