@{
    ViewBag.Title = "Home Page";
}
<center>
    <h1>Bem-vindo a Escola Saber</h1>
    <span></span>
    <h2>Nós vamos te ajudar a aprender</h2>
    <p>Os progressos obtidos por meio do ensino são lentos; já os obtidos por meio de exemplos são mais imediatos e eficazes. - Sêneca </p>
    <h2>O melhor ensino</h2>
    <p>Tudo o que está morto como fato, continua vivo como ensino. - Victor Hugo </p>
    <h2>Conhecimento e oportunidade</h2>
    <p>Não há ensino sem pesquisa e pesquisa sem ensino. -Paulo Freire </p>

    <div class="">
        <span class="fa fa-book"></span>
        <h3>Aprenda Online</h3>
        <p>A humildade exprime uma das raras certezas de que estou certo: a de que ninguém é superior a ninguém. -Paulo Freire </p>
    </div>

    <div class="">
        <span class="fa fa-users"></span>
        <h3>Os melhores professores</h3>
        <p>Ensinar não é transferir conhecimento, mas criar as possibilidades para a sua própria produção ou a sua construção. -Paulo Freire </p>
    </div>

    <div class="">
        <span class="fa fa-table"></span>
        <h3>As melhores salas de aula</h3>
        <p>Se a educação sozinha não transforma a sociedade, sem ela tampouco a sociedade muda. - Paulo Freire </p>
    </div>
</center>