@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escola Saber | Home</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <section id="mu-slider">
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="/Content/assets/img/slider/1.jpg" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Bem-vindo a Escola Saber</h4>
                <span></span>
                <h2>Nós vamos te ajudar a aprender</h2>
                <p>Os progressos obtidos por meio do ensino são lentos; já os obtidos por meio de exemplos são mais imediatos e eficazes. - Sêneca </p>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="/Content/assets/img/slider/2.jpg" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Bem-vindo a Escola Saber</h4>
                <span></span>
                <h2>O melhor ensino</h2>
                <p>Tudo o que está morto como fato, continua vivo como ensino. - Victor Hugo </p>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="/Content/assets/img/slider/3.jpg" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Bem-vindo a Escola Saber</h4>
                <span></span>
                <h2>Conhecimento e oportunidade</h2>
                <p>Não há ensino sem pesquisa e pesquisa sem ensino. -Paulo Freire </p>
            </div>
        </div>
        <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-service-area">
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-book"></span>
                            <h3>Aprenda Online</h3>
                            <p>A humildade exprime uma das raras certezas de que estou certo: a de que ninguém é superior a ninguém. -Paulo Freire </p>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-users"></span>
                            <h3>Os melhores professores</h3>
                            <p>Ensinar não é transferir conhecimento, mas criar as possibilidades para a sua própria produção ou a sua construção. -Paulo Freire </p>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-table"></span>
                            <h3>As melhores salas de aula</h3>
                            <p>Se a educação sozinha não transforma a sociedade, sem ela tampouco a sociedade muda. - Paulo Freire </p>
                        </div>
                        <!-- Start single service -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service  -->
    <!-- Start about us -->
    <section id="mu-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-us-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-left">
                                    <!-- Start Title -->
                                    <div class="mu-title">
                                        <h2>Sobre nós</h2>
                                    </div>
                                    <!-- End Title -->
                                    <p>A Educomunicação é conceituada como o “método de ensino no qual a comunicação em massa e a mídia em geral são usadas como elemento de educação. É também um campo de convergência entre a educação e outras ciências humanas, que começou a surgir a partir dos anos 70, pela Escola de Comunicação e Artes da USP (Universidade de São Paulo)”.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right">
                                    <a id="mu-abtus-video" href="https://www.youtube.com/watch?v=VjjV8ROzMho" target="mutube-video">
                                        <img src="/Content/assets/img/about-us.jpg" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us -->
    <!-- Start about us counter -->
    <section id="mu-abtus-counter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-abtus-counter-area">
                        <div class="row" style="background-color: darkblue; border-radius: 25px;">
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-book"></span>
                                    <h4 class="counter">568</h4>
                                    <p>Cursos</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-users"></span>
                                    <h4 class="counter">3500</h4>
                                    <p>Estudantes</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-flask"></span>
                                    <h4 class="counter">65</h4>
                                    <p>Laboratórios modernos</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single no-border">
                                    <span class="fa fa-user-secret"></span>
                                    <h4 class="counter">250</h4>
                                    <p>Professores</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us counter -->
    <!-- Start features section -->
    <section id="mu-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-features-area">
                        <!-- Start Title -->
                        <div class="mu-title">
                            <h2>Cursos profissionalizantes</h2>
                            <p>Aprenda uma profissão com cursos que preparam você para os desafios do mercado.</p>
                        </div>
                        <!-- End Title -->
                        <!-- Start features content -->
                        <div class="mu-features-content">
                            <div class="row">
                                <div class="col-lg-4 col-md-4  col-sm-6">
                                    <div class="mu-single-feature">
                                        <span class="fa fa-book"></span>
                                        <h4>Técnico em Design Gráfico</h4>
                                        <p>Você aprenderá a desenvolver projetos e produções gráficas para meios impressos e digitais, como logotipos, embalagens, livros, revistas, infográficos, animações, entre outros.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span class="fa fa-users"></span>
                                        <h4>Assistente de Arte</h4>
                                        <p>Você aprenderá a executar e finalizar projetos de design gráfico, tratar imagens, criar arquivos vetoriais e preparar peças para a impressão.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span class="fa fa-laptop"></span>
                                        <h4>Assistente de Design de Marcas e Identidade Visual</h4>
                                        <p>Você aprenderá como criar logotipos e outros materiais de identidade visual para empresas, utilizando conceitos de comunicação visual e tipografia.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span class="fa fa-microphone"></span>
                                        <h4>Assistente de Design de Embalagens</h4>
                                        <p>Você aprenderá a desenvolver e finalizar projetos de design gráfico de embalagens cartonadas e outros materiais para divulgar produtos em pontos de venda.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span class="fa fa-film"></span>
                                        <h4>Programação Visual de Design Editorial</h4>
                                        <p>Você aprenderá como diagramar livros, revistas e outras publicações para mídia digital e impressa, utilizando elementos do design gráfico.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span class="fa fa-certificate"></span>
                                        <h4>PTécnico em Computação Gráfica</h4>
                                        <p>Você aprenderá a desenvolver projetos gráficos e maquetes eletrônicas, compor imagens, gerar conteúdo audiovisual, animar elementos 3D e fazer desenho técnico 2D, utilizando ferramentas de modelagem tridimensional, ilustração, animação e edição de vídeo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End features content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features section -->
    <!-- Start our teacher -->
    <section id="mu-our-teacher">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-our-teacher-area">
                        <!-- begain title -->
                        <div class="mu-title">
                            <h2>Nossos professores</h2>
                            <p>Para isso, todos os nossos professores são dinâmicos e incentivam continuamente os alunos a participarem das aulas. Os professores são nosso principal ativo</p>
                        </div>
                        <!-- end title -->
                        <!-- begain our teacher content -->
                        <div class="mu-our-teacher-content">
                            <div class="row">
                                <div class="col-lg-3 col-md-3  col-sm-6">
                                    <div class="mu-our-teacher-single">
                                        <figure class="mu-our-teacher-img">
                                            <img src="/Content/assets/img/teachers/teacher-01.png" alt="teacher img">
                                        </figure>
                                        <div class="mu-ourteacher-single-content">
                                            <h4>Isaac Newton</h4>
                                            <span>Professor de matemática</span>
                                            <p>Isaac Newton PRS foi um matemático, físico, astrônomo, teólogo e autor inglês que é amplamente reconhecido como um dos cientistas mais influentes de todos os tempos e como uma figura-chave na Revolução Científica.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="mu-our-teacher-single">
                                        <figure class="mu-our-teacher-img">
                                            <img src="/Content/assets/img/teachers/teacher-02.png" alt="teacher img">
                                        </figure>
                                        <div class="mu-ourteacher-single-content">
                                            <h4>Machado de Assis</h4>
                                            <span>Professor de português</span>
                                            <p>Joaquim Maria Machado de Assis foi um escritor brasileiro, considerado por muitos críticos, estudiosos, escritores e leitores o maior nome da literatura brasileira.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="mu-our-teacher-single">
                                        <figure class="mu-our-teacher-img">
                                            <img src="/Content/assets/img/teachers/teacher-03.png" alt="teacher img">
                                        </figure>
                                        <div class="mu-ourteacher-single-content">
                                            <h4>Charles Darwin</h4>
                                            <span>Professor de biologia</span>
                                            <p>Charles Robert Darwin, foi um naturalista, geólogo e biólogo britânico, célebre por seus avanços sobre evolução nas ciências biológicas.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="mu-our-teacher-single">
                                        <figure class="mu-our-teacher-img">
                                            <img src="/Content/assets/img/teachers/teacher-04.png" alt="teacher img">
                                        </figure>
                                        <div class="mu-ourteacher-single-content">
                                            <h4>Galileu Galilei</h4>
                                            <span>Professor de fisica</span>
                                            <p>Galileo di Vincenzo Bonaulti de Galilei, mais conhecido como Galileu Galilei, foi um astrônomo, físico e engenheiro florentino, às vezes descrito como polímata. Com frequência é referenciado como "pai da astronomia observacional", "pai da física moderna", "pai do método científico" e "pai da ciência moderna".</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End our teacher content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End our teacher -->
    <!-- Start footer -->
    <footer id="mu-footer">
        <!-- start footer top -->
        <div class="mu-footer-top">
            <div class="container">
                <div class="mu-footer-top-area">

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Contact</h4>
                            <address>
                                <p>Duque de Caxias, São Cristóvão, Rio Branco 29368-149, BR</p>
                                <p>Phone: (011) 5342-6234 </p>
                                <p>Website: www.escolasaber.edu.br</p>
                                <p>Email: info@escolasaber.edu.br</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- end footer top -->

    </footer>
</body>
