@{
        ViewBag.Title = "Home Page";
        var artigos = new[] {
            ("Alienígenas no Pimentas", "Como pode não haver alienígenas? Existem tantas estrelas apenas nesta galáxia, e tantas galáxias, que as chances de sermos a única vida inteligente no universo parecem pequenas para mim', disse o segundo homem mais rico do Pimentas." ),
            ("outro teste", "You pode easily achar a teia hosting companhia that oferece the certo mix de features e price para your aplicações." ),
            ("mais teste", "You pode easily achar a teia hosting companhia that oferece the certo mix de features e price para your aplicações." ),
            ("último teste", "You pode easily achar a teia hosting companhia that oferece the certo mix de features e price para your aplicações." )
        };
    }

<div class="jumbotron">
    <h1>Matrícula acadêmica</h1>
    <p class="lead">Academicarvão</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Faça sua matrícula &raquo;</a></p>
</div>

<div class="row">

    @foreach (var artigo in artigos)
    {
        @Html.Partial("~/Views/Home/Artigos/Artigo.cshtml", artigo)
    }

</div>