body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.menu {
    padding: 0 2rem;
    background: #333;
}
.logo-container {
    padding-top: 1em;
}
.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em 0 1em 0;
}
.image-clickable, .nav-left {
    margin-right: auto;
}
.logo {
    height: 5rem;
    padding: 0 1.25rem;
    margin-right: auto;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: inline-block;
    padding: 0 1.25rem;
    color: #fff;
}
.nav-links li a {
    font-size: 1rem;
    text-decoration: none;
    color: #ddd;
}
.nav-links li a:hover {
    color: rgb(255, 195, 195);
}

main {
    margin: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

.principal {
    display: grid;
    grid-gap: 1em;
}
.principal > div {
    background-color: #eee;
    padding: 8px 12px;
}
.principal > div .img-holder {
    height: 420px;
    position: relative;
    overflow: hidden;
}
.principal > div img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    display: block;
    left: 0;
}
h3 {
    margin: 0;
    padding: 12px 0;
}

.side-bar {

}
.side-bar > div {
    background-color: #ccc;
    margin-bottom: 1em;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5em;
}
.side-bar > div .img-holder {
    min-height: 120px;
    position: relative;
    overflow: hidden;
}
.side-bar > div img {
    min-width: 120px;
    position: absolute;
    display: block;
    left: 0;
}

footer {
    padding: 1% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
}
footer p {
    line-height: 2;
    margin: .5em;
}
footer a {
    color: #EB0500;
    font-weight: 500;
    text-decoration: none;
}
footer a:hover {
    color: #EB5000;
    font-weight: 500;
    text-decoration: none;
}
