<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Ocorreu um erro ao processar sua solicitação.</h2>
    </hgroup>
    <p>A verdade é que nada está realmente errado, errado, talvéz seja o pensar humando, a atitude de julgar tudo por uma regua pessoal e mutável que desconsidera o todo em favor do caso isolado, o erro esté em o homem se julgar acima do resto do natural e acima do próprio homem. Em resumo não aconteceu um erro, o que aconteceu foi simplesmente natural.</p>
</body>
</html>
