.mu-sobrenos {
    background-color: #333333; /*#66cccc*/
    background-repeat: no-repeat;
    background-size: cover;
}

.mu-professores {
    background-image: url("assets/img/professores.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.mu-login {
    background-image: url("assets/img/professores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.mu-cursos {
    background-color: #333333; /*#66cccc*/
    background-repeat: no-repeat;
    background-size: cover;
}

.mu-bg-texto {
    background-color: #E7E7E7; /*#E7E7E7*/
    border-radius: 25px;
    border: 20px solid #E7E7E7;
}
