@model  ( string titulo, string conteudo )
<div class="col-md-auto" style="margin: 15px;">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
        <img src="https://t.ctcdn.com.br/_fw6Mr1AOcO07qok1uWDCQPtKRg=/i278727.jpeg"
             class="img-fluid"
             style="width: 100%;"
             role="img"
             alt="pense nisso" />
        <div class="">
            <h2 class="">@Model.titulo</h2>
            <p class="">@Model.conteudo</p>
            <p class=""><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
        </div>
    </div>
</div>