@model  Matricula.Models.Artigo


    <div class="col-md-4" >
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <div class="square">
                <img src=@Model.img
                     class="img-fluid"
                     style="width: 100%;"
                     role="img"
                     alt="pense nisso" />
            </div>
                <div class="">
                    <h2 class="">@Model.titulo</h2>
                    <p class="">@Model.conteudo</p>
                    <p class=""><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
                </div>
            </div>
    </div>
